<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: layout_head}">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Comenzile mele</title>
</head>
<style>
body {
	margin: 0;
}

.cart-table {
	border-collapse: collapse;
	width: 100%;
}

.cart-table th, .cart-table td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

.cart-table th {
	background-color: #f2f2f2;
}

.cart-table .align-right {
	text-align: right;
}

.cart-table .align-center {
	text-align: center;
}

.white-background-table {
	background-color: white;
}
</style>
<body class="d-flex flex-column">
	<div class="container" th:replace="~{layout :: layout_header}"></div>
	<div class="container page-content">
		<div class="row">
			<div class="col-md-4 col-lg-3">
				<!-- Sidebar -->
				<div class="card">
					<div class="card-body bg-dark text-center">
						<img th:src="@{/img/var/user.png}" width="100" height="100"
							alt="User" class="rounded-circle mb-3">
						<p th:text="${userDetails}" style="display: none;"></p>
						<h4 class="bold mb-0" th:if="${userDetails != null}"
							th:text="${#strings.capitalize(userDetails.username)}"></h4>
						<small class="text-secondary"
							th:text="'Ultima accesare '+${#dates.format(#dates.createNow(), 'dd MMM yyyy')}"></small>
					</div>
					<div class="list-group list-group-flush">
						<a th:href="@{/profile}"
							class="list-group-item bg-dark list-group-item-action"><i
							data-feather="user" class="mr-3"></i> <strong> Profilul
								meu</strong></a> <a th:href="@{/orders}"
							class="list-group-item bg-dark list-group-item-action active"><i
							data-feather="shopping-bag" class="mr-3"></i> <strong>
								Comenzile mele</strong></a> <a th:href="@{/addresses}"
							class="list-group-item bg-dark list-group-item-action"><i
							data-feather="map" class="mr-3"></i> <strong> Adresele
								mele </strong></a> <a th:href="@{/reset/password}"
							class="list-group-item bg-dark list-group-item-action"><i
							data-feather="map" class="mr-3"></i> <strong> Schimba
								parola </strong></a> <a th:href="@{/logout}"
							class="list-group-item bg-dark list-group-item-action text-danger"><i
							data-feather="log-out" class="mr-3"></i><strong> Logout</strong></a>
					</div>
				</div>
			</div>
			<div class="col mt-3 mt-md-0">
				<input type="hidden" id="userId" name="id"
					th:value="${userDetails.id}" />
				<p>&nbsp;</p>
				<div class="container mt-2 main-container">
					<th:block>
						<div class="table-responsive">
							<table id="myOrderTable" class="table white-background-table">
								<thead>
									<tr>
										<th colspan="4">Detalii comanda</th>
									</tr>
									<tr>
										<td></td>
									</tr>
									<tr>
										<td>ID Comanda:</td>
										<td th:text="${order.id}"></td>
										<td></td>
										<td></td>
									</tr>
									<tr>
										<td></td>
									</tr>
									<tr>
										<td>Total valoare:</td>
										<td th:text="${order.orderTotal} + ' lei'"></td>
										<td>Data comenzii:</td>
										<td th:text="${#dates.format(order.orderDate, 'dd MMM yyyy')}"></td>
									</tr>
									<tr>
										<td></td>
									</tr>
									<tr>
										<td>Status comanda:</td>
										<td th:text="${order.orderStatus}"></td>
										<td>Data livrarii:</td>
										<td
											th:text="${#dates.format(order.shippingDate, 'dd MMM yyyy')}"></td>
									</tr>
								</thead>
							</table>
							<p>&nbsp;</p>
							<p>
								<strong>Adresa de livrare:</strong><br />
							<p></p>
							<span th:text="${order.address.addressLine1}"></span> <span
								th:if="${order.address.addressLine2}"
								th:text="${order.address.addressLine2}"></span><br /> <span
								th:text="${order.address.city}"></span>, <span
								th:text="${order.address.country}"></span>
							</p>
							<p>&nbsp;</p>
							<table class="table cart-table">
								<thead>
									<tr>
										<th>Articol</th>
										<th style="text-align: center">Cod produs</th>
										<th style="text-align: center">Imagine articol</th>
										<th style="text-align: center">Cantitate</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="quantity : ${order.quantities}">
										<td>
											<p th:text="${quantity.product.shortDescription}"></p>
										</td>
										<td>
											<p style="text-align: center"
												th:text="${quantity.product.name}"></p>
										</td>
										<td style="text-align: center"><img
											th:src="@{/img/products/{photo}(photo=${quantity.product.name + '_1.jpg'})}"
											width="50" height="95" alt="Product Photo"></td>
										<td>
											<p style="text-align: center" th:text="${quantity.quantity}"></p>
										</td>
									</tr>
								</tbody>
							</table>
							<p>&nbsp;</p>
						</div>
					</th:block>
					<p th:unless="${order != null}">Comanda nu a fost gasita.</p>
					<p>
						<a th:href="@{/orders}"
							class="btn btn-primary btn-block w-50 float-right">Înapoi la
							Lista de Comenzi</a>
					</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
				</div>
			</div>
		</div>
	</div>
</body>
<footer>
	<div class="container-fluid" th:replace="~{layout :: layout_footer}"></div>
</footer>
</html>