<!-- product_template.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Transilana - Magazin online</title>
    <head th:replace="~{layout :: layout_head}"></head>

    <style>
        .product-image {
            width: 300px;
            height: 100%;
            object-fit: cover;
        }

        .product-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            text-align: center;
            gap: 2px;
        }
    </style>
</head>
<body>
    <div class="container" th:replace="~{layout :: layout_header}"></div>

    <div class="container">
        <h2 class="text-center" th:text="${shortDescription}"></h2>

        <!-- Display products in a grid -->
        <div class="product-container border-0">
    <!-- Filter products based on short description -->
    <div th:each="product : ${products}">
        <div th:if="${product.shortDescription == shortDescription}" class="col-md-3 mb-3">
            <div class="text-center card border-0">
                <!-- Product image -->
                <img th:src="@{/img/products/{photo}(photo=${product.name + '_1.jpg'})}" class="text-center border-0 card-img-top product-image" alt="Product Photo"/>
                <!-- Product details -->
                <div class="text-center card-body border-0">
                    <h5 class="card-title text-center" th:text="${product.shortDescription + ' ' + product.name}" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 200px;"></h5>
                    <div class="text-center">
                    <p><strong><span th:text="'Pret: ' + ${product.price} + '0 lei'" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 200px;"></span></strong></p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <a th:href="@{/product/details/{id}(id=${product.id})}" class="btn btn-primary mr-3">Vezi detalii</a>
                        
                        <a th:href="@{/product/buy/{id}(id=${product.id})}" class="btn btn-success">Cumpara</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>

    <footer>
        <div class="container" th:replace="~{layout :: layout_footer}"></div>
    </footer>
</body>
</html>
