<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: layout_head}">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<title>Transilana SA - Resetare parola</title>
<style>
body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1200px;
	margin: 50px auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
	text-align: center;
	margin-bottom: 30px;
}

.form-group {
	margin-bottom: 20px;
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

input[type="password"] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 14px;
}
</style>
</head>
<body class="d-flex flex-column">
	<div class="container" th:replace="~{layout :: layout_header}"></div>
	<div class="container page-content">
		<div class="row">
			<div class="col-md-4 col-lg-3">
				<!-- Sidebar -->
				<div class="card">
					<div class="card-body bg-dark text-center">
						<img th:src="@{/img/var/user.png}" width="100" height="100"
							alt="User" class="rounded-circle mb-3">
						<h4 class="bold mb-0"
							th:text="${#strings.capitalize(userDetails.username)}"></h4>
						<small class="text-secondary"
							th:text="'Ultima accesare '+${#dates.format(#dates.createNow(), 'dd MMM yyyy')}"></small>
					</div>
					<div class="list-group list-group-flush">
						<a th:href="@{/profile}"
							class="list-group-item bg-dark list-group-item-action active"><i
							data-feather="user" class="mr-3"></i> <strong> Profilul
								meu</strong></a> <a th:href="@{/orders}"
							class="list-group-item bg-dark list-group-item-action"><i
							data-feather="shopping-bag" class="mr-3"></i> <strong>
								Comenzile mele</strong></a> <a th:href="@{/addresses}"
							class="list-group-item bg-dark list-group-item-action"><i
							data-feather="map" class="mr-3"></i> <strong> Adresele
								mele </strong></a> <a th:href="@{/resetPassword}"
							class="list-group-item bg-dark list-group-item-action"><i
							data-feather="map" class="mr-3"></i> <strong> Schimba
								parola </strong></a> <a th:href="@{/logout}"
							class="list-group-item bg-dark list-group-item-action text-danger"><i
							data-feather="log-out" class="mr-3"></i><strong> Logout</strong></a>
					</div>
				</div>
			</div>
			<div class="col mt-3 mt-md-0">
				<div class="form-group">
					<p>&nbsp;</p>
					<h2>Resetare parola</h2>
					<p>&nbsp;</p>
					<div class="form-group">
						<form th:action="@{/reset/password}" method="post">
							<input type="hidden" name="token" th:value="${token}" /> <label
								for="password">Parola noua:</label> <input type="password"
								id="password" name="newPassword" required
								class="form-control w-50" />
							<p>&nbsp;</p>
							<label for="confirm-password">Confirma parola:</label> <input
								type="password" id="confirm-password" name="confirmPassword"
								required onblur="checkPassword(event)" class="form-control w-50" />
							<span id="passwordError" style="color: red;"></span>
							<p>&nbsp;</p>
							<p>&nbsp;</p>
							<button type="submit" onclick="checkPassword(event)"
								class="btn btn-primary">Trimite</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<div th:if="${message}" class="success-message" th:text="${message}"></div>
		<div th:if="${error}" class="error-message" th:text="${error}"></div>
		<p>&nbsp;</p>
	</div>
	<footer>
		<div class="container-fluid" th:replace="~{layout :: layout_footer}"></div>
	</footer>
</body>
<script>
    function checkPassword(event) {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirm-password").value;
        var errorElement = document.getElementById("passwordError");

        if (password !== confirmPassword) {
            errorElement.textContent = "Parolele nu sunt identice";
            event.preventDefault(); 
        } else {
            errorElement.textContent = "";
        }
    }
</script>
</html>